
.menu {
    height: 25px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
  
li {
    display: inline;
    margin-left: 18%;
    font-family: "Poppins", serif;
}

li:hover{
    background-color:grey;
}

.title{
    margin-left: 20%;
    font-family: "Poppins", serif;
    font-weight: 500;
}

@keyframes scrollBg {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-330px);
    }
  }
  
.background {
    filter: blur(2px);
    height: 100%;
    width: 100%;
    position: fixed;
    padding-bottom: 330px;
    background-color: #E8BA9B;
    background-image: url('images/joeybackground.png');
    background-size: cover;
    background-position-x: -3cm;
    animation: scrollBg 20s linear forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    z-index: -1;
}